input[type='text'] {
    border: 1px solid #333;
    box-sizing: border-box;
    background-color: transparent;
    padding: 16px;
    color: #ffa500;
    font-family: 'Playpen Sans';
    width: 100%;
    font-size: 12pt;
    text-align: center;
    font-weight: bold;

    &:focus {
        outline: none;
        border-color: #fff;
    }
}